RAGmess.json
{
  "name": "RAGmess",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are strictly required to access all the specified tools before performing any operation other than reading the user input text. Accessing these tools is mandatory and must be done first. Do not perform any reasoning, decision-making, or other actions before you have accessed all the necessary tools. Only after accessing all tools, you may proceed with further processing. 🛠️ Available Tools You must access to the following tools and data to know who you are: Interaction Rules Driving – This document defines how you must interact with the user. It must ALWAYS be consulted before any interaction. n8n workflow tool – Must ALWAYS be called to retrieve: All questions (600 official Vietnamese driving theory questions + choices) All correct answers These are your only valid sources of knowledge. 🚦 How to respond Always reply in Vietnamese. Use a positive, helpful, and friendly tone. Your response must be ≤ 4000 characters including spaces. If needed, shorten or summarize. 🔹 Special Rules Greeting If the user says \"hello\" or greets → respond with greeting back, then offer: “Bạn muốn tôi đưa ra một câu hỏi ngẫu nhiên để luyện tập, hay bạn muốn luyện theo bộ đề thi tương ứng các hạng bằng (A1/A, B1, B, C, D+)?” Random Question Call n8n workflow tool to fetch 1 random question. Show the question + all answer choices. End with: “👉 Bạn chọn đáp án nào?” Exam Sets If the user chooses a license category → fetch a random exam set with correct number of questions: A1/A → 25 câu B1 → 30 câu B → 35 câu C → 40 câu D+ → 45 câu Present questions sequentially. User’s Answer Call n8n workflow tool to fetch the correct answer. Compare and respond: ✅ Correct → Praise 🎉 + confirm answer + short explanation. ❌ Incorrect → Correct gently ❌ + show right answer + short explanation. Exam Summary At the end of an exam set: show number of correct answers / total. Encourage with a motivational message. Always close with “👉 Bạn có muốn tiếp tục luyện thêm câu khác hoặc làm bộ đề khác không?” 🔹 Example Flow User: hello Assistant: “Xin chào 👋 Rất vui được gặp bạn! Bạn muốn tôi đưa ra một câu hỏi ngẫu nhiên để luyện tập, hay bạn muốn luyện theo bộ đề thi tương ứng các hạng bằng (A1/A – 25 câu, B1 – 30 câu, B – 35 câu, C – 40 câu, D+ – 45 câu)?” User: câu ngẫu nhiên Assistant (after calling n8n): “Đây là một câu hỏi ngẫu nhiên trong bộ đề: Câu 45: Người lái xe phải làm gì khi gặp biển báo nguy hiểm này? Tiếp tục đi bình thường Giảm tốc độ và chú ý quan sát Dừng xe ngay lập tức Rẽ trái ngay 👉 Bạn chọn đáp án nào?” User: 2 Assistant (after calling n8n to check Answer): “Chính xác 🎉 Đáp án đúng là 2. Giảm tốc độ và chú ý quan sát. Điều này giúp người lái xe chủ động xử lý tình huống nguy hiểm. 👉 Bạn có muốn luyện thêm một câu khác hoặc làm bộ đề khác không?”",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        320,
        100
      ],
      "id": "6b48cbd9-45d8-4d99-880d-ad2adcfee1d3",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        360
      ],
      "id": "0118b835-e068-4af1-859b-df609338a322",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3DktBr4cKLLJgYj1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1L4CjYtplaWOp6gC",
          "mode": "list",
          "cachedResultName": "read_drive_folder"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "folder_id",
              "displayName": "folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "max_files",
              "displayName": "max_files",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        580,
        360
      ],
      "id": "1e8f0be7-9cba-40a1-864d-797e1a2fc190",
      "name": "Call n8n Workflow Tool"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('If1').item.json.body.entry[0].messaging[0].sender.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        400,
        380
      ],
      "id": "8daf13c6-f85c-48f4-bd4d-3111146a287f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1dRoFReEACvNpTuZ2S-xTqlKLne8DGO1u7K8zcuwcjQM/edit?tab=t.0",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        760,
        360
      ],
      "id": "b1fd7162-ec5b-494c-b3b9-b41b616ac524",
      "name": "Interaction Rules",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Gc3QzQZ7HenXzkoo",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "574ae771-81e4-4157-90e8-abd5d95a29a1",
              "leftValue": "={{ $json['tin nhắn'] }}",
              "rightValue": "=cập nhật dữ liệu",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -280,
        500
      ],
      "id": "00edebf8-8cd5-4e84-8f80-29c53c039345",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=🚦 Driving License AI – System Rules & Obligations\n🛠️ Mandatory Tools\n\nInteraction Rules – Defines how you must interact with the user.\n\nMust ALWAYS be consulted before every response.\n\n\n🔹 Obligations & Behavior Rules\n\nAlways consult Interaction Rules Driving before responding.\n\nNever guess or use outside knowledge. If no relevant data is found, reply:\n\n“Chưa đủ thông tin trong tài liệu đã trích để trả lời chính xác. Bạn vui lòng hỏi cụ thể hơn nhé.”\n\nAlways respond in Vietnamese, in a positive, friendly, supportive tone.\n\nKeep answers ≤ 4000 characters including spaces.\n\nNever expose internal tools, workflows, or technical details.\n\n🔹 Task Handling Rules\n\nGreeting → When greeted, greet back warmly and present practice/exam options.\n\nRandom Question → Retrieve one random question (with all choices).\n\nExam Sets → Retrieve the correct number of questions per license type:\n\nA1/A → 25\n\nB1 → 30\n\nB → 35\n\nC → 40\n\nD+ → 45\nPresent sequentially (e.g., “Câu 1/25”), check answers, keep score, and summarize at the end.\n\nAnswer Checking → Compare user’s choice with the official answer, give feedback, and encourage practice.\n\nExam Summary → At the end, report total correct/incorrect, then ask if the user wants to continue or switch category.\n\n🔹 Natural Language Understanding (NLU) Rules\n\nThe AI must be able to interpret free-form user input and map it to actions:\n\nIf user says “cho tôi 1 câu bất kỳ”, “câu ngẫu nhiên”, or “random” → trigger Random Question.\n\nIf user says “làm thử 30 câu B1”, “thi thử hạng B1”, or “bộ đề B1” → start Exam Set B1 (30 questions).\n\nIf user says “cho tôi câu số 50” → fetch Question 50 directly.\n\nIf user says “tiếp tục” → fetch another random question.\n\nIf user says “làm lại” → restart the chosen practice/exam mode.\n\nIf user says “đổi hạng khác” → ask which license type they want and start that exam set.\n\nIf user says “cập nhật dữ liệu” → call n8n workflow tool to reload data.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        260,
        600
      ],
      "id": "d1fcb5b4-45a3-4613-9e0c-a078bcf2b58e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        140,
        900
      ],
      "id": "8ecd0dae-7057-4f5d-8b53-451ef2845ecc",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "3DktBr4cKLLJgYj1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Messenger').item.json.body.entry[0].messaging[0].sender.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        900
      ],
      "id": "5efb8887-d461-4856-9e62-4ce4e51a33a4",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1dRoFReEACvNpTuZ2S-xTqlKLne8DGO1u7K8zcuwcjQM/edit?tab=t.0",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        560,
        900
      ],
      "id": "f3c8ee36-7ccd-4cbb-a533-9bff027b47dd",
      "name": "Interaction Rules1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Gc3QzQZ7HenXzkoo",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "e593c452-d1e1-47ab-b982-649138fac915",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1220,
        420
      ],
      "id": "c507ca4f-6cab-4129-b58e-a17f353ed2b3",
      "name": "Messenger",
      "webhookId": "e593c452-d1e1-47ab-b982-649138fac915"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "da9fcb64-8d7e-433a-9fc1-7f0459f5bad9",
              "leftValue": "={{ $json.body.entry[0].messaging[0].message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -840,
        520
      ],
      "id": "68f6ed9c-3e77-45c7-a5cb-52869bdddb95",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "const body = {\n  \"recipient\":{\n    \"id\": `${$('None Refresh').first().json['id user']}`\n  },\n  \"message\":{\n    \"text\": `${$input.first().json.output}`\n  }\n}\n    return{data:body}\n\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        640
      ],
      "id": "70a72db3-14f2-49ff-a462-e15e14e55a93",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const body = {\n  \"recipient\":{\n    \"id\": `${$('Refresh').first().json['id user']}`\n  },\n  \"message\":{\n    \"text\": `${$input.first().json.output}`\n  }\n}\n    return{data:body}\n\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        100
      ],
      "id": "0865c78f-35ad-4e37-9ab4-1cc43cca10bb",
      "name": "Code1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "13c27617-d944-4df0-89c9-c2499e1a9b66",
              "name": "id user",
              "value": "={{ $json.body.entry[0].messaging[0].sender.id }}",
              "type": "string"
            },
            {
              "id": "1e9adbb3-f5c4-459c-a695-411f915515b7",
              "name": "id page",
              "value": "={{ $json.body.entry[0].messaging[0].recipient.id }}",
              "type": "string"
            },
            {
              "id": "ea4703b8-d8c1-4972-bde7-90d9200ec883",
              "name": "tin nhắn",
              "value": "={{ $json.body.entry[0].messaging[0].message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -540,
        500
      ],
      "id": "d33b1ea1-d5f2-408e-9b00-296cd087d015",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/783233704876382/messages/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAkttpAZAZBu4BPl3IhsYGuyQCLqMSZC3W4ZC5jZAyFWthkdQio7vlwvplybDpBrD3b850qwiBpY79l4D6c6ltywNl4tlLreToZCetmVZAZCH9OMFyr0Y7cj8gvK20s6DEuZBRLQVMlimTL7mMrLCjqZBG1xtCdQvgEtCZAPDdn5eZB53ZAd8GoZBEMhr8OdNZBR8lbZBc4k6yJTnd2deWmOmRZC0h74lHpmYD78yrZAxb2R0z6n6r"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        100
      ],
      "id": "8fb7df53-2cf6-4576-b3df-9e5755950c80",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/783233704876382/messages/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAkttpAZAZBu4BPl3IhsYGuyQCLqMSZC3W4ZC5jZAyFWthkdQio7vlwvplybDpBrD3b850qwiBpY79l4D6c6ltywNl4tlLreToZCetmVZAZCH9OMFyr0Y7cj8gvK20s6DEuZBRLQVMlimTL7mMrLCjqZBG1xtCdQvgEtCZAPDdn5eZB53ZAd8GoZBEMhr8OdNZBR8lbZBc4k6yJTnd2deWmOmRZC0h74lHpmYD78yrZAxb2R0z6n6r"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        640
      ],
      "id": "f387fcdc-76a4-4678-863d-f0dac84479cc",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "13c27617-d944-4df0-89c9-c2499e1a9b66",
              "name": "id user",
              "value": "={{ $('Messenger').item.json.body.entry[0].messaging[0].sender.id }}",
              "type": "string"
            },
            {
              "id": "1e9adbb3-f5c4-459c-a695-411f915515b7",
              "name": "id page",
              "value": "={{ $('Messenger').item.json.body.entry[0].messaging[0].recipient.id }}",
              "type": "string"
            },
            {
              "id": "ea4703b8-d8c1-4972-bde7-90d9200ec883",
              "name": "tin nhắn",
              "value": "={{ $('Messenger').item.json.body.entry[0].messaging[0].message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        580
      ],
      "id": "8432025d-a0d2-443c-a819-231a196543d4",
      "name": "None Refresh"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "13c27617-d944-4df0-89c9-c2499e1a9b66",
              "name": "id user",
              "value": "={{ $('If1').item.json.body.entry[0].messaging[0].sender.id }}",
              "type": "string"
            },
            {
              "id": "1e9adbb3-f5c4-459c-a695-411f915515b7",
              "name": "id page",
              "value": "={{ $('If1').item.json.body.entry[0].messaging[0].recipient.id }}",
              "type": "string"
            },
            {
              "id": "ea4703b8-d8c1-4972-bde7-90d9200ec883",
              "name": "tin nhắn",
              "value": "={{ $('If1').item.json.body.entry[0].messaging[0].message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        240
      ],
      "id": "f6b2d5ce-cdd1-4f04-8ff9-2695627563c2",
      "name": "Refresh"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -840,
        240
      ],
      "id": "ef29b8d6-8db0-43bd-95d5-362ce7c677c8",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Interaction Rules": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Refresh",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "None Refresh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Interaction Rules1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Messenger": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "None Refresh": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aec2674a-5243-4072-aea9-b081d4cc95f5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "cEoiudkIpfQRHp2e",
  "tags": []
}