read_drive_folder.json
{
  "name": "read_drive_folder",
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "'1rnzuKehwXd-946k7G3t7BwKhG2tRGM0e' in parents and trashed=false and (   mimeType='application/vnd.google-apps.document' or   mimeType='application/pdf' or   mimeType='application/vnd.openxmlformats-officedocument.wordprocessingml.document' )",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -360,
        -20
      ],
      "id": "b47688ff-ad96-4bd8-b510-35c621679552",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "n3jbskRQ4YaoYCHR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Giới hạn cũ\nconst MAX_TOTAL = 100000000;   // tổng ký tự cho tất cả\nconst CHUNK_SIZE = 3000;   // số ký tự mỗi chunk\nconst MIN_KEEP   = 30;\n\n// Helper làm sạch\nconst clean = s => (s || \"\")\n  .replace(/\\u0000/g, '')\n  .replace(/\\r\\n?/g, '\\n')\n  .replace(/[ \\t]+\\n/g, '\\n')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\n// Lấy text & meta an toàn từ node khác\nfunction pull(nodeText, nodeMeta, textKey) {\n  try {\n    const text = clean($item(0).$node[nodeText].json?.[textKey] || \"\");\n    const meta = $item(0).$node[nodeMeta].json || {};\n    return {\n      name: meta.name || nodeMeta,\n      id: meta.id || \"\",\n      url: meta.webViewLink || \"\",\n      text,\n    };\n  } catch { return null; }\n}\n\n// Nếu có Google Docs export text/plain từ node Download GDOC (data)\nfunction pullGdoc(downloadNodeName) {\n  try {\n    const meta = $item(0).$node[downloadNodeName].json || {};\n    const text = clean(meta.data || \"\");\n    return { name: meta.name || downloadNodeName, id: meta.id || \"\", url: meta.webViewLink || \"\", text };\n  } catch { return null; }\n}\n\n// Đặt đúng tên node bạn đang dùng\nconst sources = [\n  pull(\"Extract from PDF\",   \"Google Drive2\", \"text\"),        // PDF\n  pull(\"Docx Extractor\",     \"Google Drive3\", \"textContent\"), // DOCX\n  pullGdoc(\"Google Drive1\"),                                  // GDOC\n].filter(Boolean);\n\n// Build sections\nconst sections = [];\nlet total = 0;\n\nfor (const s of sources) {\n  if (!s.text || s.text.length < MIN_KEEP) continue;\n\n  // Tách thành nhiều chunk để không bị mất dữ liệu\n  for (let i = 0; i < s.text.length; i += CHUNK_SIZE) {\n    const body = s.text.slice(i, i + CHUNK_SIZE);\n    const one  = `# ${s.name} (id:${s.id}, part:${Math.floor(i/CHUNK_SIZE)+1})\n${body}\n${s.url ? `Source: ${s.url}` : ''}`.trim();\n\n    if (total + one.length > MAX_TOTAL) break;\n    sections.push(one);\n    total += one.length;\n  }\n}\n\n// Response cho Agent\nlet response;\nif (!sections.length) {\n  response = \"[DRIVE FOLDER CONTEXT] (empty)\";\n} else {\n  const folderId = $json.folder_id || \"(unknown)\";\n  response = `[DRIVE FOLDER CONTEXT START]\nFOLDER_ID: ${folderId}\nFILES_INCLUDED: ${sections.length}\n\n${sections.join(\"\\n\\n---\\n\\n\")}\n[DRIVE FOLDER CONTEXT END]`;\n}\n\nreturn [{ json: { response } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        -540
      ],
      "id": "9e2429d0-7491-4ba7-b584-e6d3c82f0d5a",
      "name": "Code"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"folder_id\": \"string\",\n  \"max_files\": 10\n}\n"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -800,
        -20
      ],
      "id": "e036d88b-779a-47f1-b18c-f7fec1e73f5b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$('Google Drive').item.json.id}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        460,
        -240
      ],
      "id": "a3f4ee69-c1f2-4aaf-8ba9-f9d9f41ea1b5",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "n3jbskRQ4YaoYCHR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1400,
        -60
      ],
      "id": "d15c019b-fddf-4aa9-be04-454128f06905",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1320,
        -540
      ],
      "id": "7a0a49fe-0b4c-4842-8517-3bb1bdae2f6f",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "n3jbskRQ4YaoYCHR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType === 'application/pdf' || String($json.name || '').toLowerCase().endsWith('.pdf') }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6142ec9c-2814-4c42-a58f-68686da69bfb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b3a418d4-643a-45e1-a449-91a195db48d3",
                    "leftValue": "={{ $json.mimeType === 'application/vnd.google-apps.document' }}\n",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "gdoc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d9a18b25-dedb-45dc-a6f7-b8d577f3ae61",
                    "leftValue": "={{ $json.mimeType === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'    || String($json.name || '').toLowerCase().endsWith('.docx') }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "docx"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        20,
        -20
      ],
      "id": "767838cb-fb2a-41ab-a4f0-ec59b3fbc7d8",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        460,
        180
      ],
      "id": "4a15c8b1-ae9f-4c7e-ab0b-a97199ba10a5",
      "name": "Google Drive3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "n3jbskRQ4YaoYCHR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        800,
        -240
      ],
      "id": "341288b8-9517-4fed-aaff-e6cf228bdae8",
      "name": "Extract from PDF"
    },
    {
      "parameters": {
        "outputFormat": "txt"
      },
      "type": "n8n-nodes-docx-extractor.docxExtractor",
      "typeVersion": 1,
      "position": [
        800,
        180
      ],
      "id": "df07890b-0d3e-4578-a901-4e7bf112cd5d",
      "name": "Docx Extractor"
    },
    {
      "parameters": {
        "jsCode": "const meta = $item(0).$node[\"Google Drive2\"].json;   // node Download PDF\nreturn [{\n  json: {\n    id: meta.id,\n    name: meta.name || \"file.pdf\",\n    webViewLink: meta.webViewLink || \"\",\n    data: $json.text || \"\"          // <-- text PDF đã có\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        -240
      ],
      "id": "46043092-d720-4d50-9506-5e8b37debba7",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "const meta = $item(0).$node[\"Google Drive3\"].json;   // node Download DOCX\nreturn [{\n  json: {\n    id: meta.id,\n    name: meta.name || \"file.docx\",\n    webViewLink: meta.webViewLink || \"\",\n    data: $json.textContent || \"\"   // <-- text DOCX đã có\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        180
      ],
      "id": "2bc0aa7c-9292-4bae-a706-ccf7d01451c1",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1GDo9eKMmwASTaHhn98ENn2zEdBhnH9BlyfzkT1PFa00/edit?tab=t.0",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1600,
        -60
      ],
      "id": "59d67a22-ebd2-440b-8c19-962c10c3f278",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Gc3QzQZ7HenXzkoo",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Google Drive3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive3": {
      "main": [
        [
          {
            "node": "Docx Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docx Extractor": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "59a09ab9-ab66-432f-97b4-767311fda8a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "1L4CjYtplaWOp6gC",
  "tags": []
}